.container {
  display: flex;
  width: 100%;
  height: auto;
  background-color: #000;
}

.container-left {
  display: flex;
  border: 1px solid green;
  width: 22%;
  height: auto;
  padding: 15px;
}

.inicio {
  display: flex;
  border: 1px solid pink;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding: 14px;

}

.inicio img {
  width: 120px;
  margin-bottom: 9px;
}

.buscar-btn p {
  color: #ffffff;
}

.buscar-btn {
  display: flex;
  align-items: center;
}

.inicio-btn {
  display: flex;
  align-items: center;
}

.inicio-btn p {
  color: #ffffff;
}

.container-right {
  display: flex;
  border: 1px solid yellow;
  width: 100%;
  height: 100vh;
}
