*,
*:before,
*:after {
  box-sizing: border-box;
}

*,
body,
p,
div {
  font-family: "Roboto", sans-serif;
}

.container-login {
  display: flex;
  width: 100%;
  height: 100vh;
  background: rgb(11, 11, 11);
  background: linear-gradient(0deg, rgba(11, 11, 11, 1) 0%,
      rgba(0, 0, 11, 1) 35%, rgba(0, 0, 0, 1) 80%, rgba(86, 89, 89, 1) 100%);
  justify-content: center;
  align-items: center;
}

.logins-contas {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0px;
  text-indent: 0px;
  width: 734px;
  margin: 0px auto;
  row-gap: normal;
  align-items: center;

}

.login {
  color: white;
  row-gap: normal;
  border-radius: 8px;
  padding-bottom: 32px;
  border: 1px solid white;
  background-color: #121212;

}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.icon svg {
  width: 36px;
}

.h1-entrar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-goolge {
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 324px;
  height: 48px;
  border-radius: 30px;
  display: flex;
  margin-bottom: 8px;
  padding: 7px 31px;
}

.login-facebook {
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 324px;
  height: 48px;
  border-radius: 30px;
  display: flex;
  padding: 7px 31px;
}

.login-apple {
  padding: 7px 31px;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 324px;
  height: 48px;
  border-radius: 30px;
  display: flex;
  margin-bottom: 8px;
}

.login-telefone {
  padding: 7px 31px;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 324px;
  height: 48px;
  border-radius: 30px;
  display: flex;
}

.barra {
  margin: 32px 100px;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-image: initial;
  border-top: 1px solid rgb(41, 41, 41);
}

.login-com-email {
  display: flex;
  flex-direction: column;
}
