body{
    margin: 0;
    padding: 0
    ;
}
.container-home{
    display: flex;
    color: black;
    border: 1px solid black;
    width: 100%;
    height: 100%;
  
}
.menu-home{
    display: flex;
    width: 100%;
    height: auto;
    background-color: black;
}
.menu-home img{
    width: 150px;
    height: 150px;
}
