<!-- MENU MOBILE - ficará na frente de todos -->
<div class="menu-mobile-overflow">
  <ul class="svelte-4ldyho">
    <li><span class="mh-premium-title mh-header-primary svelte-1nqbmy7">Premium</span>
      <ul class="svelte-1nqbmy7">
        <li class="plan svelte-1nqbmy7"><a
            href="https://www.spotify.com/br-pt/premium/?ref=spotifycom_header_premium_individual"
            data-ga-category="menu" data-ga-action="premium-individual" class="svelte-1nqbmy7"><span
              class="plan-title svelte-1nqbmy7">Premium Individual</span> </a> </li>
        <li class="plan svelte-1nqbmy7"><a href="https://www.spotify.com/br-pt/duo/?ref=spotifycom_header_premium_duo"
            data-ga-category="menu" data-ga-action="premium-duo" class="svelte-1nqbmy7"><span
              class="plan-title svelte-1nqbmy7">Premium Duo</span> </a> </li>
        <li class="plan svelte-1nqbmy7"><a
            href="https://www.spotify.com/br-pt/family/?ref=spotifycom_header_premium_family" data-ga-category="menu"
            data-ga-action="premium-family" class="svelte-1nqbmy7"><span class="plan-title svelte-1nqbmy7">Premium
              Família</span> </a> </li>
        <li class="plan svelte-1nqbmy7"><a
            href="https://www.spotify.com/br-pt/student/?ref=spotifycom_header_premium_student" data-ga-category="menu"
            data-ga-action="premium-student" class="svelte-1nqbmy7"><span class="plan-title svelte-1nqbmy7">Premium
              Universitário</span> </a> </li>
      </ul>
    </li>
    <li class="svelte-vf0pv9" style=""><a href="https://support.spotify.com/" class="mh-header-primary svelte-vf0pv9"
        data-ga-category="menu" data-ga-action="help">Suporte</a></li>
    <li class="svelte-vf0pv9" style=""><a href="https://www.spotify.com/br-pt/download/"
        class="mh-header-primary svelte-vf0pv9" data-ga-category="menu" data-ga-action="download"
        data-gtm-event-name="download_spotify_button_clicked"
        data-tracking="{&quot;category&quot;: &quot;download&quot;, &quot;action&quot;: &quot;download start&quot;, &quot;label&quot;: &quot;download-navbar&quot;}">Baixar</a>
    </li>
    <li role="separator" aria-hidden="true" class="mh-header-primary svelte-1i2hclv" style=""></li>
    <li class="svelte-vf0pv9" style=""><a href="https://www.spotify.com/br-pt/signup/"
        class="mh-header-secondary mh-tier-2 svelte-vf0pv9" data-ga-category="menu"
        data-ga-action="sign-up">Inscrever-se</a></li>
    <li class="svelte-vf0pv9" style=""><a
        href="https://www.spotify.com/br-pt/login/?continue=%2Fbr-pt%2Fpremium%2F%3Fref%3Dspotifycom_header_premium_individual"
        class="mh-header-secondary mh-tier-2 svelte-vf0pv9" data-ga-category="menu" data-ga-action="log-in"
        data-tracking="{&quot;category&quot;: &quot;menu&quot;, &quot;action&quot;: &quot;log-in&quot;}">Entrar</a></li>
  </ul>
</div>
<!-- MENU MOBILE - ficará na frente de todos -->

<div class="container-home">
  <div class="menu-home">
    <img src="../../../assets/image/Spotify-Logo.png" alt="">
    <div class="btn-menu">
      <a href="">
        <p>Premiun</p>
      </a>
      <a href="">
        <p>Suporte</p>
      </a>
      <a href="">
        <p>Baixar</p>
      </a>
      <a href="">
        <p>|</p>
      </a>
      <a href="">
        <p>Inscreva-se</p>
      </a>
      <a href="/login">
        <p>Entrar</p>
      </a>
    </div>
    <div (click)="actionAbrirMenu()" class="menu-mobile" [ngClass]="{'abriu' : abriuMenu}">
      <div class="barra-1"></div>
      <div class="barra-2"></div>
      <div class="barra-3"></div>
      <div class="barra-4"></div>
    </div>

  </div>
  <div class="box-banner">


    <div class="banner-texto">
      <p class="p-banner">Ouca sem limites.<br>Experimente 1 mês <br>de premium<br> Individual Grátis.</p>
      <p class="p=depois">Depois,apenas R$ 21,90/mês.Cancele quando quizer.</p>
      <div class="btns-banner">
        <div class="btn-experimente">
          <p>Experimente de graca por 1 mês</p>
        </div>
        <div class="btn-ver-todos">
          <p>Ver todos os planos </p>
        </div>
      </div>
    </div>
    <div class="img-banner">
      <img src="../../../assets/image/fundo-site.png" alt="">
    </div>



  </div>












































</div>
