<div class="container-home">
    <div class="menu-home">
        <img src="../../../assets/image/logo-spotify-vetor.jpg" alt="">
        <div class="btn-menu">
          <a href=""><p>Premiun</p></a>
          <a href=""><p>Suporte</p></a>
          <a href=""><p>Baixar</p></a>
          <a href=""><p>|</p></a>
          <a href=""><p>Inscreva-se</p></a>
          <a href=""><p>Entrar</p></a>
        </div>

    </div>
    <div class="box-banner">
        <img src="../../../assets/image/fundo-site.png" alt="Imagem de fundo">
    </div>
      
    










































</div>
