<div class="container-home">
    <div class="menu-home">
        <img src="../../../assets/image/Spotify_Logo_RGB_White.png" alt="">
        <div class="btn-menu">
          <a href=""><p>Premiun</p></a>
          <a href=""><p>Suporte</p></a>
          <a href=""><p>Baixar</p></a>
          <a href=""><p>|</p></a>
          <a href=""><p>Inscreva-se</p></a>
          <a href=""><p>Entrar</p></a>
        </div>

    </div>
    <div class="box-banner">
       
        <div class="banner-texto">
            <p>Ouca sem limites.<br>Experimente 1 mês <br>de premium<br> Individual Grátis.</p>
            <p class="p=depois">Depois,apenas R$ 21,90/mês.Cancele quando quizer.</p>
            <div class="btns-banner">
                <div class="btn-experimente">
                    <p>Experimente de graca por 1 mês</p>
                </div>
                <div class="btn-ver-todos">
                    <p>Ver todos os planos </p>
                </div>
            </div>
        </div>
        <img src="../../../assets/image/fundo-site.png" alt="">


    </div>
      
    










































</div>
